h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:mediumturquoise;
    background-color: darkblue;
    height: 45px;
}

button{
    color: #ffffff;
    border: 2px solid mediumturquoise;
    padding: 8px;
    border-radius: 10px;
    background-color: lightslategray;
    cursor: pointer;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

input{padding: 8px;
font-size: 18px;}

button:focus {
    border: 2px solid rgb(247, 4, 4);}

p{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;}

.Resultado{text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
color:darkblue;
background-color:darkturquoise;}